<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGBCevents | Accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <header>
        <nav id="nav-bar">
            <a href="/user/home"><img src="/img/Logo.png" alt="Logo Miss Black & Pretty"></a>
            <h5 class="btn"><a href="/user/home">Accueil</a></h5>
            <h5 class="btn"><a href="#services">Services</a></h5>
            <h5 class="btn"><a href="#about">A propos</a></h5>
            <h5 class="btn"><a href="#contact">Contact</a></h5>
            <a href="#"><button class="NavBtn"><span class="text">Billeterie</span> </button></a>
            <a href="/user/categories"><button class="NavBtn"><span class="text">Vote</span></button></a>
            <i class="ri-menu-4-line"></i>
        </nav>
    </header>

    <main>
        <section id="hero">
            <div id="background">
                <div class="back-texte">
                    <marquee>
                        <h2>Miss Black & Pretty</h2>
                    </marquee>
                </div>
                <img src="/img/Home-hero-background.png" alt="" id="hero-image">
            </div>
            <div class="content active">
                <h1>Miss Black & Pretty<br></h1>
                <div class="wrapper">
                    <div class="static-txt"></div>
                    <ul class="dynamic-txts">
                        <li><span class="srv">Marketing</span></li>
                        <li><span class="srv">Management</span></li>
                        <li><span class="srv">Evenementiel</span></li>
                        <li><span class="srv">Communication</span></li>
                    </ul>
                </div>
                <div class="hero-btn">
                    <a href="#"><button class="btn-hero"><span class="btn-text-one">Billeterie</span><span
                                class="btn-text-two">J'achète un billet</span> </button></a>
                    <a href="/user/categories"><button class="btn-hero"><span class="btn-text-one">Voter</span><span
                                class="btn-text-two">Voter un(e) candidat(e)</span> </button></a>
                </div>
            </div>
        </section>
        <section id="explore">
            <div class="container">
                <div class="row">
                    <div class="watch">
                        <img class="img-responsive" src="/img/Logo.png" alt="">
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-sm-5">
                        <h2>SGBC AWARDS</h2>
                    </div>
                    <div class="col-sm-7 col-md-6">
                        <ul id="countdown">
                            <li>
                                <span class="days time-font">00</span>
                                <p>Jours </p>
                            </li>
                            <li>
                                <span class="hours time-font">00</span>
                                <p class="">Heures </p>
                            </li>
                            <li>
                                <span class="minutes time-font">00</span>
                                <p class="">Minutes</p>
                            </li>
                            <li>
                                <span class="seconds time-font">00</span>
                                <p class="">Secondes</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </main>

    <%- include("partials/footer") %> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGBCevents | Accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <header>
        <nav id="nav-bar">
            <a href="/user/home"><img src="/img/Logo.png" alt="Logo Miss Black & Pretty"></a>
            <h5 class="btn"><a href="/user/home">Accueil</a></h5>
            <h5 class="btn"><a href="#services">Services</a></h5>
            <h5 class="btn"><a href="#about">A propos</a></h5>
            <h5 class="btn"><a href="#contact">Contact</a></h5>
            <a href="/user/billet"><button class="NavBtn"><span class="text">Billeterie</span> </button></a>
            <a href="/user/candidates"><button class="NavBtn"><span class="text">Vote</span></button></a>
            <i class="ri-menu-4-line"></i>
        </nav>
    </header>
    <main>
        <section id="hero">
            <div id="background">
                <div class="back-texte">
                    <marquee>
                        <h2>Miss Black & Pretty</h2>
                    </marquee>
                </div>
                <img src="/img/Home-hero-background.png" alt="" id="hero-image">
            </div>
            <div class="content active">
                <h1>Miss Black & Pretty<br></h1>
                <div class="wrapper">
                    <div class="static-txt"></div>
                    <ul class="dynamic-txts">
                        <li><span class="srv">Marketing</span></li>
                        <li><span class="srv">Management</span></li>
                        <li><span class="srv">Evenementiel</span></li>
                        <li><span class="srv">Communication</span></li>
                    </ul>
                </div>
                <div class="hero-btn">
                    <a href="/user/billetx"><button class="btn-hero"><span class="btn-text-one">Billeterie</span><span
                                class="btn-text-two">J'achète un billet</span> </button></a>
                    <a href="/user/candidates"><button class="btn-hero"><span class="btn-text-one">Voter</span><span
                                class="btn-text-two">Voter un(e) candidat(e)</span> </button></a>
                </div>
            </div>
        </section>
        <section id="explore">
            <div class="container">
                <div class="row">
                    <div class="watch">
                        <img class="img-responsive" src="/img/Logo.png" alt="">
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-sm-5">
                        <h2>SGBC AWARDS</h2>
                    </div>
                    <div class="col-sm-7 col-md-6">
                        <ul id="countdown">
                            <li>
                                <span class="days time-font">00</span>
                                <p>Jours </p>
                            </li>
                            <li>
                                <span class="hours time-font">00</span>
                                <p class="">Heures </p>
                            </li>
                            <li>
                                <span class="minutes time-font">00</span>
                                <p class="">Minutes</p>
                            </li>
                            <li>
                                <span class="seconds time-font">00</span>
                                <p class="">Secondes</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </main>

    <footer>

        <div class="footer-bottom">
            <p>copyright &copy; <a href="simbtech.com">Simbtech</a> </p>

        </div>

    </footer>
    <script src="main.js"></script>
</body>

</html>